@import "tailwindcss";

@theme {


  --color-brand-dark: dark-blue;
  --color-brand-bg: #1c1e21;
  --color-brand-text: white;
  --color-brand-primary: #368bf9;
  --color-brand-accent: #ffbfbf;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* classes moved to index.html */
  margin: 0;
}