PORT=3000
TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash
MONGODB_URI=mongodb://localhost:27017/telegram_drive
JWT_SECRET=your_jwt_secret_key_here


# Optional: Set this if you want to use a specific log level for Telegram
TELEGRAM_LOG_LEVEL=none
